%section.item-box-container
  %h1.item-box-container_item-name
    dfs
  %p.item-box-container__item-wording
    -# = link_to '#' do
    -# = link_to '#' do
    -# = link_to '#' do
  .item-box-container__content
    .item-box-container__content__photo
      .item-box-container__content__photo_owl
        .item-box-container__content__photo_owl_outer
          .item-box-container__content__photo_owl_outer_stage{style: 'left: 0px; width: 1500px;'}
            .item-box-container__content__photo_owl_outer_stage_item.active{style: 'width: 300px;'}
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
            .item-box-container__content__photo_owl_outer_stage_item
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
            .item-box-container__content__photo_owl_outer_stage_item
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
            .item-box-container__content__photo_owl_outer_stage_item
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
        .item-box-container__content__photo_owl__disabled
          .item-box-container__content__photo_owl__disabled_prev
          .item-box-container__content__photo_owl__disabled_next
        .item-box-container__content__photo_owl__dots
          .item-box-container__content__photo_owl__dots_dot.active
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
    .item-box-container__content__table
      = render partial: "detail/tbody"
  .item-box-container__price
    %span.item-box-container__price_bold ¥0,010
    %span.item-box-container__price_tax (税込)
    %span.item-box-container__price_fee 送料込み
  .item-box-containert__visible
    %button.item-box-container__visible_buy
      = link_to '購入画面に進む', "#",class: ".buy-btn",data:{client: "hidden"}
    .item-box-container__visible_client
    -# #TODO 仮置き
      -# = link_to '#'
    -#   %div{data:{client: "visible"}}
    -# .item-box-containert__visible_text
    -#   = link_to 'アプリで購入', data:{toggle: 'open-app'},data:{url:{scheme:"mercari://"}},data:{action: 'item/openDetail'}
  .item-box-container__description
    %p.item-box-container__description_inner
      なになにブランドの何かです。
      使用感があり、綺麗とはいえません。
      中古なのでご理解の上ご購入下さい。
      よろしくお願いします。
  .item-box-container__button
    .item-box-container__button_left
      %button{type: "button",name: "like!",data:{toggele:'like'},data:{id:''},data:{ga:'element'},class:"item-button like",data:{ga:{lable:'like'}} }
        %i.far.fa-heart
        %span いいね!
        %span{data:{num:"like"},class:'fade-in-down'} 0
      = link_to '','',data:{open:'modal',modal:'report-item'},class:'item-button report'
  


  

