%section.item-box-container
  %h1.item-box-container_item-name
    dfs
  %p.item-box-container__item-wording
    -# = link_to '#' do
    -# = link_to '#' do
    -# = link_to '#' do
  .item-box-container__content
    .item-box-container__content__photo
      .item-box-container__content__photo_owl
        .item-box-container__content__photo_owl_outer
          .item-box-container__content__photo_owl_outer_stage{style: 'left: 0px; width: 1500px;'}
            .item-box-container__content__photo_owl_outer_stage_item.active{style: 'width: 300px;'}
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
            .item-box-container__content__photo_owl_outer_stage_item
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
            .item-box-container__content__photo_owl_outer_stage_item
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
            .item-box-container__content__photo_owl_outer_stage_item
              .item-box-container__content__photo_owl_outer_stage_item_inner
                = image_tag "", alt:"", class: "owl-lazy",style:"",data:{src:""}
        .item-box-container__content__photo_owl__disabled
          .item-box-container__content__photo_owl__disabled_prev
          .item-box-container__content__photo_owl__disabled_next
        .item-box-container__content__photo_owl__dots
          .item-box-container__content__photo_owl__dots_dot.active
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
          .item-box-container__content__photo_owl__dots_dot
            %span
            .item-box-container__content__photo_owl__dots_dot_in
              = image_tag ""
    -# .item-box-container__content__price
    -#   %span.item-box-container__content__price_bold
    -#   %span.item-box-container__content__price_tax
    -#   %span.item-box-container__content__price_fee
    -# .item-box-container__content__visible
    -#   .item-box-container__content__visible_buy
    -#     = link_to '購入画面に進む', "#",class: ".buy-btn",data:{client: "hidden"}
    -# .item-box-container__content__table
      