%main.contener
  .contener__content
    %section.contener__content_mypage-icon
      %a{href: "#"}
        %figure
          = image_tag ""
        %h2.contener__content_mypage-icon_bold
          名前
          -# #TODO　current_user.nameが入ると仮定
        .mypage-evaluation
          %div
            評価
            %span.bold
          %div
            出品数
            %span.bold
    %section.contener__content__mypage-tab
      %ul.contener__content__mypage-tab_notice
        %li.active
          %h3
            = link_to "お知らせ","#mypage-tab-notification" ,data:{toggle: "tab"}
        %li
          %h3
            =link_to "やることリスト", "#mypage-tab-todo",data:{toggle: "tab"}

      .tab-content
        %ul{id: "mypage-tab-notification", class: "mypage-item-list tab-pane active"}
          %li
            .mypage-item-link
              %figure
                = image_tag "mercari_profile.png",class: "lazyloaded"
              .mypage-item-body
                .mypage-item-text ログイン通知
                %time
                  %i.far.fa-clock
                    %span 1日前
                %i.fa.fa-chevron-right.right-arrow
          %li.mypage-go-list
            = link_to " 一覧を見る","/jp/mypage/notification"
            
        %ul{id: "mypage-tab-todo", class: "mypage-item-list tab-pane"}
          %li.mypage-item-not-found.bold 現在、やることリストはありません
        


    %section.mypage-tab-container
      %h2.mypage-tab-container__head 購入した商品
      %ul.contener__content__mypage-tab_notice
        %li.active
          %h3
            = link_to "取引中","#mypage-tab-transaction-now" ,data:{toggle: "tab"}
        %li
          %h3
            =link_to "過去の取引", "#mypage-tab-transaction-old",data:{toggle: "tab"}
      .tab-content
        %ul{id: "mypage-tab-transaction-now", class: "mypage-item-list tab-pane active"}
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul{id: "mypage-tab-transaction-old", class: "mypage-item-list tab-pane"}