.footers
  .footers__links
    = link_to 'プライバシーポリシー ', "https://www.mercari.com/jp/privacy/" ,class:"footers__links__span"
    = link_to 'メルカリ利用規約 ', "https://www.mercari.com/jp/tos/" ,class:"footers__links__span"
    = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/" ,class:"footers__links__span"
  .footers__icons
    .footers__icons__icon
      = link_to root_path, class:'hovering' do
        = image_tag("/images/logo-gray.svg",width:'80%',height:'80%')
    .footers__icons__string
      © 2019 Mercari
