.single-vessel
  %header.single-vessel__header
    =image_tag "/images/logo.svg",class:"mercari"
  %main.single-vessel__main
    .single-vessel__main__login-panel
      .single-vessel__main__login-panel__account
        %p アカウントをお持ちでないかたはこちら
        .login-account-a
          = link_to "新規会員登録", new_user_path
      .single-vessel__main__login-panel__inner
        %button{id: "facebook-login",class:"btn-default btn-sns-facebook"}
          %i.fab.fa-facebook-square.facebook-icon
          Facebookでログイン
        %button{id: "google-login",class:"btn-default btn-sns-google"}
          = image_tag "/images/google.png",class: "google-niji"
          Googleでログイン
      %form{method:"POST",novalidata: "novalidate"}
        .single-vessel__main__login-panel__form-inner
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .single-vessel__main__login-panel__form-inner__group
              = f.email_field :email, class: 'login-input-text input-default', placeholder: 'メールアドレス'
            .single-vessel__main__login-panel__form-inner__group
              = f.password_field :password, class: 'login-input-text input-default', placeholder: 'パスワード', autocomplete: "off"
            .single-vessel__main__login-panel__form-inner__group
              .g-recaptcha.login-captcha{data:{callback: "clearcall",sitekey: "6Lfwx6kUAAAAALOfWVZb2LUqoHZGp2E9820kxx3A"}}
            = f.submit "ログイン", class:"login-submit btn-default btn-red"
            = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/"
  %footer.single-vessel__footer
    %nav
      %ul.clearfix
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .single-vessel__footer__logo
      = image_tag "/images/logo-gray.svg"

    %p
      %small ©︎ 2019 Mercari
