.container
  = render partial: "layouts/header" 
  .mypage
    = render partial: "/mypage-nav"
    .mypage__content
      .credit 
        %h2.credit__head クレジットカード情報入力
        .credit__content
          = form_with model: @card, url: cards_path, class: 'credit__content__form' do |f|
            .credit__content__form__group
              %label.credit__content__form__group__no カード番号
              %span.credit__content__form__group__require 必須
              =f.text_field :name, class:  "number",maxlength: "16", type: "text",  placeholder: "半角数字のみ"
              %ul.credit__content__form__group__list
                %li.card
                  = image_tag "/images/card/visa.svg", width: "49", height: "20"
                %li.card
                  = image_tag "/images/card/mastercard.svg", width: "34", height: "20"
                %li.card
                  = image_tag "/images/card/saison.svg", width: "30", height: "20"
                %li.card
                  = image_tag "/images/card/jcb.svg", width: "32", height: "20"
                %li.card
                  = image_tag "/images/card/americanexpress.svg", width: "21", height: "20"
                %li.card
                  = image_tag "/images/card/dinersclub.svg", width: "32", height: "20"
                %li.card
                  = image_tag "/images/card/discover.svg", width: "32", height: "20"
            .credit__content__form__group
              %label.credit__content__form__group__expire 有効期限
              %span.credit__content__form__group__require 必須
              .credit__content__form__group__date
                .credit__content__form__group__date__select
                = f.collection_select :prefecture_id, Month.all, :id, :name, {}, {class: 'credit__content__form__group__select__month'}
                %span 月
                .credit__content__form__group__date__select 
                = f.collection_select :prefecture_id, Year.all, :id, :name, {}, {class: 'credit__content__form__group__select__year'}
                %span 年
            .credit__content__form__group
              %label.credit__content__form__security セキュリティコード
              %span.credit__content__form__group__require 必須
              %input{type: "text", class: "cvc", id: "payment_card_security_code", name: "cvc", placeholder: "カード背面4桁もしくは3桁の番号"}
              .credit__content__form__group__help
                %span.credit__content__form__group__help__icon ?
                %span カード裏面の番号とは？
              = f.submit "追加する" , class:'credit__content__card__link'

= render partial: "layouts/footer"