= render partial: "layouts/header"
- breadcrumb :brands
= breadcrumbs separator: " &rsaquo; ", link_current: true
.category
  .category-nav
    %h1 ブランド一覧
    .category-nav__box
      .category-nav__box__title
        = link_to "ブランド名", "#"

  .category-box
    .category-box__list
      .category-box__list__large
        = link_to "ブランド名", "#"
      .category-box__list__middle
        %p.category-box__list__middle__name
          = link_to "ブランド名", "#"
          .category-box__list__small
            %p
              = link_to "ブランド名", "#"

= render partial: "layouts/footer"