.categoryindex__pc__box__white__name
  %h3{id: "root_category-12"}
    自転車・オートバイ
.categoryindex__pc__box__white__inner
  %p
    = link_to ProductCategory.find(1328).name, category_path(1326)
  .categoryindex__pc__box__white__inner__name
    %h4
      自転車本体
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1327).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      自転車タイヤ/ホイール
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1331).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      自転車パーツ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1337).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      自転車アクセサリー
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1353).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      オートバイ車体
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1367).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      オートバイパーツ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1369).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      オートバイアクセサリー
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1387).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
