.categoryindex__pc__box__white__name
  %h3{id: "root_category-5"}
    コスメ・香水・美容
.categoryindex__pc__box__white__inner
  %p
    = link_to ProductCategory.find(874).name, category_path(872)
  .categoryindex__pc__box__white__inner__name
    %h4
      ベースメイク
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(873).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      メイクアップ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(884).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ネイルケア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(902).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      香水
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(913).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      スキンケア/基礎化粧品
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(920).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ヘアケア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(936).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ボディケア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(946).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      オーラルケア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(957).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      リラクゼーション
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(962).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ダイエット
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(970).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      その他
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(977).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
