.categoryindex__pc__box__white__name
  %h3{id: "root_category-2",name:"jump"}
    インテリア・住まい・小物
.categoryindex__pc__box__white__inner
  %p
    = link_to ProductCategory.find(530).name, category_path(528)
  .categoryindex__pc__box__white__inner__name
    %h4
      キッチン/食器
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(529).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ベッド/マットレス
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(542).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ソファ/ソファベッド
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(558).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      椅子/チェア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(573).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      机/テーブル
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(584).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      収納家具
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(596).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ラグ/カーペット/マット
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(610).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      カーテン/ブラインド
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(618).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ライト/照明
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(625).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      寝具
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(631).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      インテリア小物
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(637).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      季節/年中行事
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(662).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      その他
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(680).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
