.categoryindex__pc__box__white__name
  %h3#root_category-2
    メンズ
.categoryindex__pc__box__white__inner
  %p
    = link_to ProductCategory.find(221).name, category_path(219)
  .categoryindex__pc__box__white__inner__name
    %h4
      トップス
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(220).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      ジャケット/アウター
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(234).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      パンツ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(259).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      靴
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(270).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      バッグ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(280).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      スーツ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(294).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      帽子
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(301).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      アクセサリー
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(310).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      小物
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(320).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      時計
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(351).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      水着
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(359).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      レッグウェア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(365).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      アンダーウェア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(371).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      その他
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(376).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
