.categoryindex__pc__box__white__name
  %h3{id: "root_category-1027"}
    チケット
.categoryindex__pc__box__white__inner
  %p
    = link_to ProductCategory.find(1261).name, 'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      音楽
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1260).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      スポーツ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1270).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      演劇/芸能
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1283).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      イベント
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1294).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      映画
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1300).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      施設利用券
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1305).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      優待券
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1317).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
  .categoryindex__pc__box__white__inner__name
    %h4
      その他
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(1324).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,category_path(child.id)
