.categoryindex__pc__box__white__name
  %h3{id: "root_category-6"}
    おもちゃ・ホビー・グッズ
.categoryindex__pc__box__white__inner
  %p
    - ProductCategory.find(749).children.limit(1).each do |child|
      = link_to child.name, 'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      おもちゃ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(749).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      タレントグッズ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(761).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      コミック/アニメグッズ
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(768).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      トレーディングカード
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(778).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      フィギュア
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(794).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      楽器/器材
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(804).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      コレクション
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(821).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      ミリタリー
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(829).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      美術品
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(834).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      アート用品
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(846).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'
  .categoryindex__pc__box__white__inner__name
    %h4
      その他
  .clearfix.categoryindex__pc__box__white__inner__box
    - ProductCategory.find(851).children.each do |child|
      .categoryindex__pc__box__white__inner__box__sub
        %p
          = link_to child.name,'url'