= render partial: "layouts/header"
- breadcrumb :categories
= breadcrumbs separator: " &rsaquo; ", link_current: true

.categoryindex
  .categoryindex__title
    %p カテゴリー一覧
  .categoryindex__index
  - @product_categories.each_with_index do |category,i|
    = link_to category.name,"#root_category-" +(i+1).to_s,anchor:"root_category-", class:"categoryindex__pc__list__name"
  
  - @product_top.each do |ptop|
    .categoryindex__red
      %span
        = ptop.name

    .categoryindex__white
      .categoryindex__white__all
        %p
        = link_to ProductCategory.find(ptop.id+2).name, category_path(ptop.id)
    - ptop.children.each do |ch|
      .categoryindex__white__child-title
        %p
        = ch.name
      .categoryindex__white__childs
      - ch.children.each_with_index do |gc,i|
        = link_to gc.name,category_path(gc.id)
