= render partial: "layouts/header"
- breadcrumb :categories
= breadcrumbs separator: " &rsaquo; ", link_current: true

.categoryPage
  .categoryPage__title
    %span 
    = @category.name
    の商品一覧
    %ul
    - @products.zip(@images) do |p,image|
      %li.categoryPage__list
        .categoryPage__list__image
          = image_tag image.image,class:"categoryPage__list__image__tag"
        .categoryPage__list__texts
          .categoryPage__list__texts__name
            %p
              = p.name
          .categoryPage__list__texts__details
            .categoryPage__list__texts__details__price
              %span{lang:"en"} ￥
              = p.price
            .categoryPage__list__texts__details__favorite
              %i.far.fa-heart
              %span 0
  
