// #TODO 出品者のその他の出品商品
%section.item-profile__box
  %h2.item-profile__box_head
    = link_to @products.name + "さんのその他の出品" , '#'
  .item-profile__box__content.clearfix
    %section.item-profile__box__content_box
      = link_to '', ''
      %figure.item-profile__box__content_box_photo
        = image_tag("miya_180404nissinhiyokochan01.jpg", class: "item-profile__box__content_box_photo_lazyloaded",alt: "",data:{src: ""})
      .item-profile__box__content_box_body
        %h3.item-profile__box__content_box_body_name
          = @products.name
        .item-profile__box__content_box_body_num_price
          ¥
          %p
            = @products.price
%section.items-container
  %h2.item-profile__box_head
    = link_to @products.name + "その他の商品", '#'
  .item-profile__box__content.clearfix
    %section.item-profile__box__content_box
      = link_to '', ''
      %figure.item-profile__box__content_box_photo
        = image_tag("", class: "item-profile__box__content_box_photo_lazyloaded",alt: "",data:{src: ""})
      .item-profile__box__content_box_body
        %h3.item-profile__box__content_box_body_name
          = @products.name
        .item-profile__box__content_box_body_num
          .item-profile__box__content_box_body_num_price
            ¥
            %p
              = @products.price
    