// #TODO 出品者から発送日の目安まで
.tbody
  .tr
    .th 出品者
    .td
      = link_to @product.name, ""
      %div
        .user-rank
          %i.fas.fa-laugh.user-rank_good
          %span 0
        .user-rank
          %i.fas.fa-meh.user-rank_normal
          %span 0
        .user-rank
          %i.fas.fa-frown.user-rank_bad
          %span 0
  .tr
    .th カテゴリー
    .td
      = link_to @parent_name.name, ""
      %i.fas.fa-chevron-right
        =link_to @child_name.name, ""
      %i.fas.fa-chevron-right
        =link_to @grandchild_name.name, ""
  .tr
    .th ブランド
    .td
      = link_to '#' do
        %div
          ブランド名(仮)
  -# .tr
  -#   .th サイズ
  -#   .td
  .tr
    .th 商品の状態
    .td
      = @product.condition_id_i18n
  .tr
    .th 配送料の負担
    .td
      = @product.delivery_responsibility_i18n
  .tr
    .th 配送の方法
    .td
      = @product.delivery_method_i18n
  .tr
    .th 配送元地域
    .td
      - prefecture_id = @product.delivery_area
      = Prefecture.find(prefecture_id).name
  .tr
    .th 発送日の目安
    .td
      = @product.delivery_day_i18n

