= render partial: "layouts/sub-header" 
            
.l-single-container.buy-item-container
  = form_for @product do |f|
    .sell-container-inner
      %h2.l-single-head 商品の情報を入力
      .sell-form
        .sell-upload-box
        %h3.sell-upload-head
          .sell-dropbox-container.clearfix.state-image-number-10
            %b.product-title 商品画像
            %span.form-require 必須
            %p.product 最大10枚までアップロードできます
            .select-large-box#firstbox
              -# .sell-upload-drop-box.have-item-0{onclick: "$('#pic_upload').click()"}
              - @pic1.each_with_index do |image, index|
                .upload__image{data: {image: index}}
                  = image_tag image, size: '115x115'
                  .upload__image__btn
                    %p.remove-btn 削除
              .sell-upload-drop-box{onclick: "$('#pic_upload').click()"}
            -if @pic2.present?
              .select-large-box#secondbox
                - @pic2.each_with_index do |image, index|
                  .upload__image{data: {image: index}}
                    = image_tag image, size: '115x115'
                    .upload__image__btn
                      %p.remove-btn 削除
                .sell-upload-drop-box{onclick: "$('#pic_upload').click()"}
              -# %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
              -# %i.icon-camera
              -# \::after
            = f.file_field :images, multiple: true, id: 'pic_upload', style: "display: none;"

        .sell-content-i
          .form-group
            %label 
              商品名
              %span.form-require 必須
              %div
              = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "input-default"
          .form-group
            %label
              商品の説明
              %span.form-require 必須
              %div
              = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-default"
        .sell-content
          %h3.sell-sub-head
            商品の詳細
          .sell-form-box
            .form-group
              %label
                カテゴリー
              %span.form-require 必須
              %div.product_category_list
                = f.collection_select :product_category_id, @category_parent_array, :id, :name, {prompt: '---', selected: ProductCategory.find(@selected_grandchild_category).root_id}, class: "select-default", id: "parent_category",name: ''
              %div#children_wrapper
                = f.collection_select :product_category_id, @category_children_array, :id, :name, {prompt: '---', selected: ProductCategory.find(@selected_grandchild_category).parent_id}, class: "select-default", id: "child_category",name: ''
              %div#grandchildren_wrapper
                = f.collection_select :product_category_id, @category_grandchildren_array, :id, :name, {prompt: '---'}, class: "select-default", id: "grandchild_category",name: 'product[product_category_id]'
            .form-group 
              %label
                サイズ
              %span.form-require 必須
              %div
                = f.select :size_id, {指定なし: 0, S: 1, M: 2, L: 3},{prompt: "---"}, class: "select-default"
                %i.icon-arrow-bottom
            .form-group 
              %label
                商品の状態
              %span.form-require 必須
              %div
              = f.select :condition_id, Product.condition_ids_i18n.invert, {prompt: '---'}, class: "select-default"
        .sell-content
          %div
            %h3.sell-sub-head 配送について
            = link_to '?', "#" ,class: "form-question"
          .sell-form-box
            .form-group
              %label
                配送料の負担
              %span.form-require 必須
              %div
              = f.select :delivery_responsibility, Product.delivery_responsibilities_i18n.invert, {prompt: '---'}, class: "select-default"
            .form-group
              %label
                配送方法
              %span.form-require 必須
              %div
              .select-wrap
                = f.select :delivery_method, Product.delivery_methods_i18n.invert,{prompt: "---"}, class: "select-default"
                %i.icon-arrow-bottom
            .form-group
              %label
                配送元の地域
              %span.form-require 必須
              %div
              .select-wrap
                = f.collection_select :delivery_area, Prefecture.all, :id, :name, {prompt: "---"}, class: "select-default"
                %i.icon-arrow-bottom
            .form-group
              %label
                配送までの日数
              %span.form-require 必須
              %div
              = f.select :delivery_day, Product.delivery_days_i18n.invert, {prompt: '---'}, class: "select-default"
        .sell-content
          %div
            %h3.sell-sub-head 販売価格(300〜9,999,999)
            = link_to '?', "#" ,class: "form-question"
          .sell-form-box
            %ul.sell-price
              .form-group 
                %label
                  価格
                %span.form-require 必須
                %div.form-price
                  %div.l-right.sell-price-input ¥
                  = f.text_field :price, placeholder: "例）300", class: "input-price"

              %li.price-box
                .l-left 販売手数料 (10%)
                .l-right.price#fee ¥ -
              %li.price-box
                .l-left.price 販売利益
                .l-right.price.bold#profit ¥ -
        .sell-btn-box
          %div
            %p
              = link_to '禁止されている出品、', "/jp/help_center/getting_started/prohibited_items/"
              = link_to '行為', "/jp/help_center/getting_started/prohibited_conduct/"
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '偽ブランドの販売', "/jp/help_center/getting_started/counterfeit_goods/"
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to '加盟店規約', "/jp/seller_terms/"
              に同意したことになります。
              %div
          = f.submit '編集する', class: 'btn-default btn-red'
          = link_to 'もどる', "#", class: "btn-default btn-gray"

= render partial: "layouts/sub-footer"
