= render partial: "layouts/header" 

.contents
  .contents__top__image-box
  .contents__container
    %h2.contents__container_title ピックアップカテゴリー
    .contents__container__item
      %h3.contents__container__item_title 
        レディース新着アイテム
        .contents__container__item_title_itembox
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null

      .contents__container__item_link
        %a.contents__container__item_link_text 
          = link_to "すべての商品を見る",{}, class: 'links-blue'


    .contents__container__item
      %h3.contents__container__item_title
        メンズ新着アイテム
        .contents__container__item_title_itembox
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null

      
      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links-blue'
    
    .contents__container__item
      %h3.contents__container__item_title 
        ベビー・キッズ新着アイテム
        .contents__container__item_title_itembox
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null

      
      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links-blue'

    .contents__container__item
      %h3.contents__container__item_title 
        コスメ・香水・美容 新着アイテム
        .contents__container__item_title_itembox
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
          .contents__container__item_title_itembox_images
            = image_tag("null.png", size: "215x250", class:"top-images")
            .contents__container__item_title_itembox_image-title
              null
      
      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links-blue'

= render partial: "layouts/footer"
