= render partial: "layouts/header" 
= breadcrumbs separator: " &rsaquo; ", link_current: true
.contents
  .contents__top__image
    .contents__top__image__box
      = image_tag "/images/m-banner.jpg", id: "slide-first"
      = image_tag "/images/banner-summer-fes.jpg", id: "slide-second"
    .contents__top__image__arrows
      .contents__top__image__arrow#arrow-left
        %i.fas.fa-chevron-left
      .contents__top__image__arrow#arrow-right
        %i.fas.fa-chevron-right
    .contents__top__image__dots 
      .contents__top__image__dot#dot-first
        %span ●
      .contents__top__image__dot#dot-second
        %span ●
  .contents__container
    %h2.contents__container_title ピックアップカテゴリー
    .contents__container__item
      %h3.contents__container__item_title 
        レディース新着アイテム
        .contents__container__item_title_itembox
          = render partial: "layouts/top_images", collection: @ladies, as:"product"


    .contents__container__item
      %h3.contents__container__item_title
        メンズ新着アイテム
        .contents__container__item_title_itembox
          = render partial: "layouts/top_images", collection: @men, as:"product"
    
    .contents__container__item
      %h3.contents__container__item_title 
        ベビー・キッズ新着アイテム
        .contents__container__item_title_itembox
          = render partial: "layouts/top_images", collection: @kids, as:"product"

    .contents__container__item
      %h3.contents__container__item_title 
        コスメ・香水・美容 新着アイテム
        .contents__container__item_title_itembox
          = render partial: "layouts/top_images", collection: @cosme, as:"product"




= render partial: "layouts/footer"
