
= render partial: "layouts/header" 

.contents

.contents
  .contents__top__image-box
  .contents__container
    %h2.contents__container_title ピックアップカテゴリー
    .contents__container__item
      %h3.contents__container__item_title レディース新着アイテム
      .contents__container__item__items

      .contents__container__item_link
        %a.contents__container__item_link_text 
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"


    .contents__container__item
      %h3.contents__container__item_title メンズ新着アイテム
      .contents__container__item__items
      
      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"
    
    .contents__container__item
      %h3.contents__container__item_title ベビー・キッズ新着アイテム
      .contents__container__item__items
      
      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"

    .contents__container__item
      %h3.contents__container__item_title コスメ・香水・美容 新着アイテム
      .contents__container__item__items
      
      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"
    
    %h2.contents__container_title ピックアップブランド
    .contents__container__item
      %h3.contents__container__item_title シャネル新着アイテム
      .contents__container__item__items

      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"
      
      %h3.contents__container__item_title ルイ ヴィトン 新着アイテム
      .contents__container__item__items

      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"

      %h3.contents__container__item_title シュプリーム 新着アイテム
      .contents__container__item__items

      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"
      
      %h3.contents__container__item_title ナイキ 新着アイテム
      .contents__container__item__items

      .contents__container__item_link
        %a.contents__container__item_link_text
          = link_to "すべての商品を見る",{}, class: 'links', style: "color:#309AE8"

    
  .contents__under__image
    .contents__under__image_imagesub
      = image_tag("/images/under-image.png", :size => "300x260")
    .contents__under__image__contents
      %p.contents__under__image__contents_show 
        スマホでかんたんフリマアプリ
      %br
      %p.contents__under__image__contents_download 
        今すぐ無料ダウンロード！
      .contents__under__image__contents_left-icon
        = link_to root_path do
          = image_tag("m-icon.png", size: "68x68", class:"mercari-icon")
          = image_tag("app-store.png", class:"appstore")
          = image_tag("google-play.png", class:"google-play")

= render partial: "layouts/footer"
