%main.item.clearfix
  .item__content
    %section.item__content__container
      %h2.item__content__container__name
        = @product.name
      .item__content__container__main.clearfix
        .item__content__container__main__photo
          .item__content__container__main__photo__carousel
            .item__content__container__main__photo__carousel__outer
              .item__content__container__main__photo__carousel__outer__stage
                .item__content__container__main__photo__carousel__outer__stage__owl.active
                  .item__content__container__main__photo__carousel__outer__stage__owl__inner
                    =image_tag @product.images.slice(0)
            .item__content__container__main__photo__carousel__dots
              - @product.images.each do |product|
                .item__content__container__main__photo__carousel__dots__dot
                  = image_tag product
        %table.item__content__container__main__detail
          %tbody
            %tr
              %th
                出品者
              %td
                = link_to @product.seller.nickname, ""
                %div
                  .item__content__container__main__detail__rank
                    %i.fas.fa-laugh.item__content__container__main__detail__rank__good
                    %span 0
                  .item__content__container__main__detail__rank
                    %i.fas.fa-meh.item__content__container__main__detail__rank__normal
                    %span 0
                  .item__content__container__main__detail__rank
                    %i.fas.fa-frown.item__content__container__main__detail__rank__bad
                    %span 0
            %tr
              %th
                カテゴリー
              %td
                = link_to @parent.name, ""
                %i.fas.fa-chevron-right
                  = link_to @child.name, ""
                %i.fas.fa-chevron-right
                  = link_to @grandchild.name, ""
            %tr
              %th
                ブランド
              %td
                = link_to "ブランド(仮)", ""
            %tr
              %th
                商品のサイズ
              %td
                = @product.size_id_i18n
            %tr
              %th
                商品の状態
              %td
                = @product.condition_id_i18n
            %tr
              %th
                配送料の負担
              %td
                = @product.delivery_responsibility_i18n
            %tr
              %th
                配送の方法
              %td
                = @product.delivery_method_i18n
            %tr
              %th
                配送元地域
              %td
                - prefecture_id = @product.delivery_area
                = Prefecture.find(prefecture_id).name
            %tr
              %th
                発送日の目安
              %td
                = @product.delivery_day_i18n

    -# #TODO 出品者の時
  -# - if true
  - if user_signed_in? && current_user.id == @product.seller_id
    .interim
      .interim__put
        .item__content__container__price
          %span.item__content__container__price__bold
            ¥
            %p
              = @product.price
          %span.item__content__container__price__tax
            (税込)
          %span.item__content__container__price__fee
            送料込み
        .item__content__container__description
          %p.item__content__container__description__inner
            = @product.description
        .item__content__container__change
    .item__content__change
      = link_to "商品の編集", edit_product_path , class: "item__content__change__default"
      %p.item__content__change__center
        or
      %form{action: "", method: "POST" }
        %button{type: "submit", class: "item__content__change__gray"}
          出品を一旦停止する
        = render partial: "layouts/delete-form" 
    .item__content__message
      .item__content__message__container
        .item__content__message__container__content
          %form{action: "" , method: "POST", class: "item__content__message__container__content__form"}
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{type: "text", class: "item__content__message__container__content__form__default"}
            %button{type: "submit", class: "item__content__message__container__content__form__submit"}
              %span
                コメントする

    -# #TODO 出品者ではない時
  - else
    .interim
      .interim__put
        .item__content__container__price
          %span.item__content__container__price__bold
            ¥
            %p
              = @product.price
          %span.item__content__container__price__tax
            (税込)
          %span.item__content__container__price__fee
            送料込み
        .item__content__container__btn  
          -if @product.buyer_id.present? 
            %span.item__content__container__price__btn 売り切れました
          -else
            = link_to "購入画面へ進む", product_purchases_path(@product), class: "item__content__container__price__buy",data:{client:"hidden"}
        .item__content__container__description
          %p.item__content__container__description__inner
            = @product.description
        .item__content__container__button.clearfix
          .item__content__container__button__left
            %button{type: "button", class: "item__content__container__button__left__like"}
              %i.far.fa-heart.item__content__container__button__left__like__border
              %span.item__content__container__button__left__like__down
                いいね!
              %span{data:{num:"like"},class:'item__content__container__button__left__like__down'}
                0
            .item__content__container__button__left__report.clearfix
              = link_to '',data:{open:'modal',modal:'report-item'}
              %i.far.fa-flag.item__content__container__button__left__report__flag
              %span.item__content__container__button__left__report__improper
                不適切な商品の報告
          .item__content__container__button__right
            = link_to '', '#', target: '_blank'
            %i.fa.fa-lock
            %span
              あんしん・あんぜんへの取り組み
    .item__content__message
      .item__content__message__container
        .item__content__message__container__content
          %form{action: "" , method: "POST", class: "item__content__message__container__content__form"}
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{type: "text", class: "item__content__message__container__content__form__default"}
            %button{type: "submit", class: "item__content__message__container__content__form__submit"}
              %span
                コメントする
    %ul.item__content__link.clearfix
      %li.item__content__link__prev
        = link_to "#", ""
        %i.fa.fa-chevron-left
      %li.item__content__link__next
        = link_to "#", ""
        %i.fa.fa-chevron-right
    .item__content__media
      .item__content__media__text
      %ul.item__content__media__social
        %li
          = link_to "" ,"", class: "item__content__media__social__share"
          %i.fab.fa-facebook-square.item__content__media__social__face
        %li
          = link_to "", "", class: "item__content__media__social__share"
          %i.fab.fa-twitter-square.item__content__media__social__twitter
        %li.item__content__media__social__hidden
          = link_to "", "", class: "item__content__media__social__share"
          %i.fab.fa-line.item__content__media__social__line
        %li
          = link_to "", "",class: "item__content__media__social__share"
          %i.fab.fa-pinterest-square.item__content__media__social__square
    .item__content__profile
      %section.item__content__profile__column.clearfix
        %h2.item__content__profile__column__head
          = link_to  @product.seller.nickname + "さんのその他の出品", ""
        .item__content__profile__column__content.clearfix
          %section.item__content__profile__column__content__box
            = link_to "", ""
            %figure.item__content__profile__column__content__box__photo
              = image_tag "" , class: "item__content__profile__column__content__box__photo__lazy"
            .item__content__profile__column__content__box__body
              %h3.item__content__profile__column__content__box__body__name
              .item__content__profile__column__content__box__body__num
                .item__content__profile__column__content__box__body__price
      %section.item__content__profile__item.clearfix
        %h2.item__content__profile__item__head
          = link_to "ブランド" + "その他の商品", ""
        .item__content__profile__item__content.clearfix
          %section.item__content__profile__item__content__box
            = link_to "", ""
            %figure.item__content__profile__item__content__box__photo
              = image_tag "", class: "item__content__profile__item__content__box__photo__lazy"
            .item__content__profile__item__content__box__body
              %h3.item__content__profile__item__content__box__body__name
              .item__content__profile__item__content__box__body__num
              .item__content__profile__item__content__box__body__num__price
              
= render partial: "layouts/footer"
