%footer
  .footer
    .footer__contents
      .footer__contents__links
        %h4.footer__contents__links_title メルカリについて
        %ul
          %li.footer__contents__links_link
            = link_to "会社概要（運営会社）", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "プライバシーポリシー", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリ利用規約", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "有償ポイントに関する特約", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "あんしんスマホサポート制度に関する利用規約", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "コンプライアンスポリシー", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "個人データの安全管理に係る基本方針", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "特定商取引に関する表記", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "資金決済法に基づく表示", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "法令遵守と犯罪抑止のために", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "採用情報", {}, style: "color:#fff"
      .footer__contents__links
        %h4.footer__contents__links_title メルカリを見る
        %ul
          %li.footer__contents__links_link
            = link_to "カテゴリー一覧", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "ブランド一覧", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "出品地域一覧", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "公式ブログ", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "公式Twitter", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "公式Facebook", {}, style: "color:#fff"
      .footer__contents__links
        %h4.footer__contents__links_title ヘルプ＆ガイド
        %ul
          %li.footer__contents__links_link
            = link_to "メルカリガイド", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリロゴ利用ガイドライン", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "お知らせ", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "らくらくメルカリ便とは", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "ゆうゆうメルカリ便とは", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "大型らくらくメルカリ便とは", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "車体取引ガイド", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "返品・返金ポリシー", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリあんしん・あんぜん宣言！", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "偽ブランド品撲滅への取り組み", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリボックス", {}, style: "color:#fff"
      .footer__contents__links
        %h4.footer__contents__links_title 国
        %ul
          %li.footer__contents__links_link
            = link_to ""
            
            United States
          %li.footer__contents__links_link
            = link_to ""
            
            United Kingdom
          %li.footer__contents__links_link
            = link_to ""
            
            日本
    .footer__logo
      
      %p.footer__logo_text
        %small ©️2019 Mercari

    %span.to-sell-btn_text 出品