.header
  .header__row1
    .header__row1__titles
      = link_to root_path, class:'links' do
        = image_tag("/images/m-logo.png",width:'170px',height:'50px',class:"header__row1__forms__mercari __image")
    .header__row1__forms
      %input.header__row1__forms__input{placeholder:'何かお探しですか？'}
      .header__row1__forms__button
        = link_to root_path, class:'links' do
          %i.fas.fa-search.serch-btn
  .header__row2
    .header__row2__CategoryLists
      .header__row2__CategoryLists__index
        %i.fas.fa-list-ul.red
        = link_to root_path, class: 'links-black' do
          カテゴリーから探す
      .header__row2__CategoryLists__lists
        .header__row2__CategoryLists__lists__list1#list1
          %p aaaaa
          %p aaaaaaa
        .header__row2__CategoryLists__lists__list2#list2
          %p aaa
          %p aaaaaaaaa
        .header__row2__CategoryLists__lists__list3#list3
          %p  aaa
          %p  aaaddddddddd
    .header__row2__brandlists
      .header__row2__brandlists__index
        %i.fas.fa-tag.red
          = link_to root_path, class: 'links-black' do
            ブランドから探す
      .header__row2__brandlists__lists
        %p ブランド1
        %p ブランド2
    .header__row2__lists
      - if user_signed_in?
        .header__row2__lists__general
          %i.far.fa-bell
          = link_to "https://www.mercari.com/jp/mypage/notification/",class: 'links' do
            %span お知らせ
        .header__row2__lists__general
          %i.fas.fa-check.gray
          = link_to "https://www.mercari.com/jp/mypage/todo/",class: 'links' do
            %span やることリスト
        .header__row2__lists__general
          %i.far.fa-smile-beam.gray
          = link_to "users/index", class: 'links' do
            %span マイページ
      - else
        .header__row2__lists__newuser
          = link_to new_user_registration_path, class: 'links' do
            %p 新規会員登録
        .header__row2__lists__login
          = link_to new_user_session_path,class: 'links' do
            %p ログイン
      




