.contents__container__item_title_itembox
  .contents__container__item_title_itembox_images
    = image_tag @product_images.first.image, size: "215x250"
    .contents__container__item_title_itembox_image-title
      %p
        =link_to @products.first.name,"/", class: 'links-black'
        
      .contents__container__item_title_itembox_price
        ¥
        %p
          = @products.first.price
  .contents__container__item_title_itembox_images
    = image_tag @product_images.second.image, size: "215x250"
    .contents__container__item_title_itembox_image-title
      %p
        =link_to @products.second.name,"/", class: 'links-black'
      .contents__container__item_title_itembox_price
        ¥
        %p
          =@products.second.price
  .contents__container__item_title_itembox_images
    = image_tag @product_images.third.image, size: "215x250"
    .contents__container__item_title_itembox_image-title
      %p
        =link_to @products.third.name,"/", class: 'links-black'
      .contents__container__item_title_itembox_price
        ¥
        %p
          =@products.third.price
  .contents__container__item_title_itembox_images
    = image_tag @product_images.fourth.image, size: "215x250"
    .contents__container__item_title_itembox_image-title
      %p
        =link_to @products.fourth.name,"/", class: 'links-black'
      .contents__container__item_title_itembox_price
        ¥
        %p
          =@products.fourth.price
.contents__container__item_link
  %a.contents__container__item_link_text
    = link_to "すべての商品を見る",{}, class: 'links-blue'